.navbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar-item ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar-item ul li{
   font-size: 1.3rem;
   font-weight: bold;
   padding-right: 20px;
}

