<div class="box  mt-3 mb-3">
    <div class="card" style="width: 18rem;">
        <img src="{{item.image}}"class="card-img-top">
        <div class="card-body">
        <h3 class="card-title font">{{item.title}}</h3>
        <p class="card-text">{{item.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <strong>{{item.price}} /=</strong>
            </li>
            <button class="btn btn-primary" (click)=addtocart(item)>Add To Cart</button>
        </ul>
    </div>
</div>

